{% load i18n %}
{% if items.has_other_pages %}
    <nav class="pagination" aria-label="{% translate "Pagination" %}">
        {% if items.has_previous %}<a href="{% querystring page=items.previous_page_number %}">{% translate "Previous" %}</a>{% endif %}
        <span>{% blocktranslate trimmed with number=items.number total=items.paginator.num_pages %}Page {{ number }} of {{ total }}{% endblocktranslate %}</span>
        {% if items.has_next %}<a href="{% querystring page=items.next_page_number %}">{% translate "Next" %}</a>{% endif %}
    </nav>
{% endif %}
