{% load i18n money_tags %}
<div class="campaign-progress">
    <p class="meta"><strong>{% money campaign.amount_raised as raised %}{% money campaign.target_amount as target %}{% blocktranslate trimmed %}{{ raised }} raised of {{ target }}{% endblocktranslate %}</strong></p>
    <div class="progress" role="progressbar" aria-label="{% translate "Fundraising progress" %}" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ campaign.progress_percent }}">
        <div class="progress-bar" style="width: {{ campaign.progress_percent }}%"></div>
    </div>
</div>
